@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.gradient-bg-services {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#error-page{
  height: 100vh;
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}

/* login page css */
#form-con {

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.5rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  margin: auto;
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);

}

.d-none {
  display: none;
}

.login-fom-con {
  width: 100%;
  min-height: 35vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 1rem;


}

#lf-title {
  border-left: 3.5px solid #70bbfd;
  font-size: 1em;
  width: 100%;
  margin-top: 1rem;
  color: #74bbfa;
  text-align: left;
  padding: 2rem 0rem 2rem 1rem;
}

input {
  border-radius: 3px;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  color: #787882;
  font-size: 0.6em !important;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #787882;
  opacity: 0.7;
}

input[type="submit"] {
  transition: 0.2s;
  cursor: pointer;
  background-color: #74bbfa;
  color: white;
}

/* Login/SignUP form msg "already have account?" */
.login-fom-con p,
.login-fom-con label {
  align-self: flex-start;
  color: #787882;
  text-decoration: none;
  font-size: 1.2rem;
  pointer-events: none;
}

input[type="button"] {
  padding: 1rem 1.5rem;
  color: #787882;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.2s;

}

input[type="button"] {
  margin-right: 0.5em;
  background-color: #74bbfa;
  color: white;
}

input[type="button"]:hover {
  background: transparent;
  color: #787882;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

input[type="submit"]:hover {
  background: transparent;
  color: #787882;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

input:focus {
  outline: none;
  border-color: #0f87f2;
}

/* login | registration form input's space */
.login-fom-con input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


/* Input Form Error Message Design */

.login-fom-con input+span {
  align-self: flex-start;
  color: #f25050;
  text-decoration: none;
  font-size: 0.7rem;
  pointer-events: none;
}

#form-con label{
  color: #70bbfd;
  font-size: 16px;
}
#form-con p{
  font-size: 14px;
}